---
import { getCollection } from 'astro:content';

const projectEntries = await getCollection('projects');

import Card from '../card/card.astro';
---

<section class='flex flex-col flex-wrap'>
  <font class='custom-header text-3xl font-bold text-slate-200 text-center'>
    Projects
  </font>
</section>

<section class='flex flex-row flex-wrap justify-center content-center p-4'>
  {
    projectEntries
      .sort((a, b) => a.data.order - b.data.order)
      .map((projectEntry) => (
        <Card
          title={projectEntry.data.title}
          description={projectEntry.data.description}
          tags={projectEntry.data.tags}
          image={projectEntry.data.image}
          repository={projectEntry.data.repository}
          website={projectEntry.data.website}
        />
      ))
  }
</section>
