---
import { getCollection } from 'astro:content';

const contributionsEntries = await getCollection('contributions');

import Card from '../card/card.astro';
---

<section class='flex flex-col flex-wrap'>
  <font class='custom-header text-3xl font-bold text-slate-200 text-center'>
    Open Source Contributions
  </font>
</section>

<section class='flex flex-row flex-wrap justify-center content-center p-4'>
  {
    contributionsEntries
      .sort((a, b) => a.data.order - b.data.order)
      .map((contributionEntry) => (
        <Card
          title={contributionEntry.data.title}
          tags={contributionEntry.data.tags}
          image={contributionEntry.data.image}
          repository={contributionEntry.data.repository}
          website={contributionEntry.data.website}
        >
          {contributionEntry.body}
        </Card>
      ))
  }
</section>
