---
import { getCollection } from 'astro:content';

const volunteerEntries = await getCollection('volunteer');

import Card from '../card/card.astro';
---

<section class='flex flex-col flex-wrap gap-5 backdrop-blur-[2px] p-4'>
  <font class='custom-header text-3xl font-bold text-slate-200'>
    &mdash; Volunteer Experience
  </font>
</section>

<section
  class='flex flex-row flex-wrap gap-10 justify-center content-center p-4'
>
  {
    volunteerEntries
      .sort((a, b) => a.data.order - b.data.order)
      .map((volunteerEntry) => (
        <Card
          title={volunteerEntry.data.title}
          tags={volunteerEntry.data.tags}
          image={volunteerEntry.data.image}
          repository={volunteerEntry.data.repository}
          website={volunteerEntry.data.website}
        >
          {volunteerEntry.body}
        </Card>
      ))
  }
</section>
