---
import Button from '../button/button.astro';
import Tag from '../tag/tag.astro';

import Github from '../../svg/github.astro';
import Globe from '../../svg/globe.astro';

const { title, description, tags, image, repository, website } = Astro.props;

const entry_content = await Astro.slots.render('default');

console.log('card image:', image);
---

<article
  class='w-full rounded-lg flex flex-wrap max-[600px]:flex-col flex-row max-[600px]:gap-0 gap-6'
>
  <section class='flex flex-wrap flex-col gap-2'>
    <img
      class='backdrop-blur-[4px] object-cover bg-no-repeat bg-center max-[600px]:rounded-b-none rounded-lg shadow-md h-20 max-[600px]:w-full w-20 bg-gray2 border border-gray-700'
      src={`/logos/${image}`}
      alt='depicts the project/blog post'
    />

    <section class='flex flex-wrap flex-row'>
      {
        repository && (
          <Button
            element_class='max-[600px]:rounded-none max-[600px]:grow max-[600px]:order-last'
            title='View Source Code'
            href={repository}
          >
            <Github />
          </Button>
        )
      }
      {
        website && (
          <Button
            element_class='max-[600px]:rounded-none max-[600px]:grow max-[600px]:order-last'
            title='View Website'
            href={website}
          >
            <Globe />
          </Button>
        )
      }
    </section>
  </section>

  <section
    class='flex flex-col grow p-4 backdrop-blur-[4px] shadow-md max-[600px]:rounded-t-none rounded-lg min-[600px]:w-[calc(100%-104px)] max-[600px]:text-center max-[600px]:p-2'
  >
    <section
      class='flex flex-row flex-wrap gap-8 max-[600px]:flex-col max-[600px]:gap-0'
    >
      <font class='mb-3 text-xl leading-6 not-italic'>
        {title}
      </font>

      <font
        class='mb-3 text-l leading-6 not-italic font-thin text-slate-300 flex flex-wrap gap-2 self-center min-[600px]:ml-auto'
      >
        {tags.map((tag: string) => <Tag tag={tag} />)}
      </font>
    </section>

    <font
      class='text-lg leading-6 not-italic font-thin text-slate-200'
      set:html={entry_content
        ? entry_content
            .replaceAll('◦ ', '<br />◦ ')
            .replace('<br />', '')
            .trim()
        : description}
    />
  </section>
</article>
