---
import { formatDate } from '../../util/format_date';

import './card.scss';

const { title, description, timestamp, banner, type, started_on } =
  Astro.props.data;

const route_path = title.replaceAll(' ', '-').toLowerCase();

const date =
  type == 'projects' ? formatDate(started_on) : formatDate(timestamp);
---

<a
  href={`/${type}/${route_path}`}
  class={'card button' + (!banner ? ' no-banner' : '')}
>
  {
    banner && (
      <div class='card-banner'>
        <img
          src={`/${type}/${route_path}/${banner}.png`}
          alt='Image representing the blog post.'
        />
      </div>
    )
  }

  <div class='card-content'>
    <div class='card-header'>
      <div class='card-title'>{title}</div>
      {
        date && (
          <div class='card-date'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='icon icon-tabler icon-tabler-calendar'
              width='24'
              height='24'
              viewBox='0 0 24 24'
              stroke-width='2'
              stroke='currentColor'
              fill='none'
              stroke-linecap='round'
              stroke-linejoin='round'
            >
              <path stroke='none' d='M0 0h24v24H0z' fill='none' />
              <path d='M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z' />
              <path d='M16 3l0 4' />
              <path d='M8 3l0 4' />
              <path d='M4 11l16 0' />
              <path d='M11 15l1 0' />
              <path d='M12 15l0 3' />
            </svg>
            <div>{date}</div>
          </div>
        )
      }
    </div>
    <div class='card-description'>
      <div>{description ?? 'No Description'}</div>
    </div>
  </div>
</a>
