---
import Badge from '../badge/badge.astro';

import Github from '../../svg/github.astro';
import Globe from '../../svg/globe.astro';

const {
  image,
  title,
  position,
  date_stamp,
  tags,
  website_link,
  repository_link,
} = Astro.props;

const entry_content = await Astro.slots.render('default');
---

<article
  class='bg-neutral-800 text-slate-100 p-1 shadow-lg rounded-lg w-full hover:bg-gradient-to-br hover:from-neutral-900 hover:via-emerald-600 hover:to-neutral-900'
>
  <section class='p-3 bg-neutral-800 rounded-lg flex flex-col gap-4'>
    <section class='flex flex-row items-center gap-4'>
      <img
        src={`logos/${image}`}
        class='block object-cover bg-no-repeat bg-center rounded-lg h-16 w-16'
      />

      <div class='flex flex-col self-center'>
        <b class='truncate'>{title}</b>
        {position && <font>{position}</font>}
        {date_stamp && <font>{date_stamp}</font>}
      </div>
    </section>

    {
      tags && tags.length > 0 && (
        <section class='flex flex-row flex-wrap gap-2'>
          {tags.map((tag) => (
            <Badge Tag={tag} />
          ))}
        </section>
      )
    }

    <section class='rounded-lg'>
      <font
        class='leading-6 not-italic text-neutral-200'
        set:html={entry_content
          ? entry_content
              .replaceAll('◦ ', '<br />◦ ')
              .replace('<br />', '')
              .trim()
          : ''}
      />
    </section>

    {
      (website_link || repository_link) && (
        <section class='flex flex-row flex-wrap gap-2 justify-end'>
          {website_link && (
            <a
              href={website_link}
              class='bg-neutral-300 text-neutral-900 rounded-lg px-4 py-2 flex flex-row flex-wrap items-center gap-2 hover:bg-neutral-400 hover:ease-in-out duration-200'
            >
              <Globe fill={700} />
              Website
            </a>
          )}

          {repository_link && (
            <a
              href={repository_link}
              class='bg-neutral-300 text-neutral-900 rounded-lg px-4 py-2 flex flex-row flex-wrap items-center gap-2 hover:bg-neutral-400 hover:ease-in-out duration-200'
            >
              <Github fill={400} />
              Source
            </a>
          )}
        </section>
      )
    }
  </section>
</article>
