---
import { getCollection } from 'astro:content';

const workEntries = await getCollection('work');

import Card from '../card/card.astro';
---

<!-- <section class='flex flex-col flex-wrap'>
  <font class='custom-header text-3xl font-bold text-slate-200 text-center'>
    Experience
  </font>
</section> -->
<section class='flex flex-row flex-wrap justify-center content-center'>
  {
    workEntries
      .sort((a, b) => a.data.order - b.data.order)
      .map((workEntry) => (
        <Card
          title={workEntry.data.title}
          tags={workEntry.data.tags}
          image={workEntry.data.image}
          repository={workEntry.data.repository}
          website={workEntry.data.website}
          role={workEntry.data.role}
          date_string={workEntry.data.date_string}
        >
          {workEntry.body}
        </Card>
      ))
  }
</section>
